In [4]:
import pandas as pd
import os

In [3]:
pd.set_option('display.max_columns', None)

# csv 불러오기

In [6]:
path = './drive/MyDrive/Colab Notebooks/'
# os.listdir(path)
# os.path.join()

In [143]:
# 둘레길 관심
df1 = pd.read_csv(path + "FPL010101.csv", encoding='cp949')
# 등산로 관심인구 정보
df2 = pd.read_csv(path + "FPL020101.csv", encoding='cp949')
# 등산로 관심인구 관심사/관심분야 (포털 검색 분야) 정보
df3 = pd.read_csv(path + "FPL020801.csv", encoding='cp949')
# 국립공원 관심인구 정보
df4 = pd.read_csv(path + "FPL030101.csv", encoding='cp949')
# 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df5 = pd.read_csv(path + "FPL030701.csv", encoding='cp949')
# 자전거코스/자전거길 관심인구 정보
df6 = pd.read_csv(path + "FPL040101.csv", encoding='cp949')
# 자전거코스/자전거길 관심인구 자전거용품 검색 정보
df7 = pd.read_csv(path + "FPL040401.csv", encoding='cp949')
# 산림치유원 관심인구 선호 산림치유원 검색 정보
df8 = pd.read_csv(path + "FPL050201.csv", encoding='cp949')
# 산림체험 관심인구 정보
df9 = pd.read_csv(path + "FPL060101.csv", encoding='cp949')
# 산림체험 관심인구 선호 산림체험장소 검색 정보
df10 = pd.read_csv(path + "FPL060201.csv", encoding='cp949')
# 산림체험 관심인구 선호 산림체험 프로그램 검색 정보
df11 = pd.read_csv(path + "FPL060301.csv", encoding='cp949')
# 산림치유 관심인구 라이프스타일 (온라인쇼핑몰 검색/구매 카테고리) 정보
df12 = pd.read_csv(path + "FPL060501.csv", encoding='cp949')
# 귀산촌 관심인구 정보
df13 = pd.read_csv(path + "FPL070101.csv", encoding='cp949')
# 산림재해 관심인구 정보
df14 = pd.read_csv(path + "FPL080101.csv", encoding='cp949')
# 산림대피소 관심인구 정보
df15 = pd.read_csv(path + "FPL080201.csv", encoding='cp949')
# 산림재해 관심인구 관심지역 검색정보
df16 = pd.read_csv(path + "FPL080301.csv", encoding='cp949')
# 산림재해 연관 검색 키워드를 검색한 관심인구 정보
df17 = pd.read_csv(path + "FPL080401.csv", encoding='cp949')
# 전국 국립공원 등산로 이용자 분류(성/연령)별 평균 칼로리 소모량 정보
df18 = pd.read_csv(path + "PARK_KCALcsv.csv", encoding='cp949')

In [225]:
# 둘레길 주변관광 이용자 정보
df19 = pd.read_csv(path + "FPL010401.csv", encoding='cp949')
# 둘레길 선호 관광 장소
df20 = pd.read_csv(path + "FPL010501.csv", encoding='cp949')
# 둘레길 관심인구 관심사/관심분야 (포털 검색 분야) 정보
df21 = pd.read_csv(path + "FPL010801.csv", encoding='cp949')
# 둘레길 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df22 = pd.read_csv(path + "FPL010901.csv", encoding='cp949')

In [261]:
# 등산로 선호 관광 장소
df23 = pd.read_csv(path + "FPL020501.csv", encoding='cp949')

# csv 가공

In [148]:
columns1 = ["extrc_word_nm"
            , "info_obtn_site_subjc_nm"
            , "auser_sxdst_cd"
            , "age_group_cd"
            , "auser_occpn_nm"
            , "hshld_incm_group_nm"
            , "mrrg_yn_nm"
            , "chdrn_yn_nm"
            , "rsid_fom_nm"
            , "auser_ara_ctprv_nm"
            , "auser_ara_gu_nm"
            , "auser_ara_dong_nm"
            , "car_group_nm"]

In [149]:
# 둘레길 관심인구 정보 2019
df1 = df1[columns1]
df1.columns = ["길", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [151]:
# 등산로 관심인구 정보 2019
df2 = df2[columns1]
df2.columns = ["산", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [154]:
columns2 = ["main_ntrs_cd"
            , "info_obtn_site_subjc_nm"
            , "auser_sxdst_cd"
            , "age_group_cd"
            , "auser_occpn_nm"
            , "hshld_incm_group_nm"
            , "mrrg_yn_nm"
            , "chdrn_yn_nm"
            , "rsid_fom_nm"
            , "auser_ara_ctprv_nm"
            , "auser_ara_gu_nm"
            , "auser_ara_dong_nm"
            , "car_group_nm"]

In [155]:
# 등산로 관심인구 관심사/관심분야 (포털 검색 분야) 정보
# (검색/블로그/뉴스기사등) 2019
df3 = df3[columns2]
df3.columns = ["주요관심", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [157]:
columns3 = ["extrc_word_nm"
            , "info_obtn_site_subjc_nm"
            , "auser_sxdst_cd"
            , "age_group_cd"
            , "occpn_nm"
            , "hshld_incm_group_nm"
            , "mrrg_yn_nm"
            , "chdrn_yn_nm"
            , "rsid_fom_nm"
            , "auser_ara_ctprv_nm"
            , "auser_ara_gu_nm"
            , "auser_ara_dong_nm"
            , "car_group_nm"]

In [159]:
# 국립공원 관심인구 정보 2019
df4 = df4[columns3]
df4.columns = ["국립공원", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [164]:
# frnt_ntds_prfn_cont : 가구인테리어선호도내용 dgtl_hmpl_prfn_cont : 디지털가전제품선호도내용 lsur_car_prfn_cont : 레저자동차선호도내용 bty_prfn_cont : 뷰티선호도내용 lilhd_kchn_prfn_cont : 생활주방선호도내용 sprt_fshn_prfn_cont : 운동패션선호도내용 grcs_helth_prfn_cont : 식품건강선호도내용 jrny_prfn_cont : 여행선호도내용 fshn_wear_prfn_cont : 패션의류선호도내용 auser_fshn_stff_prfn_cont : 이용자패션잡화선호도내용
columns4 = ["lfst_cd"
            , "auser_sxdst_cd"
            , "age_group_cd"
            , "occpn_nm"
            , "hshld_incm_group_nm"
            , "mrrg_yn_nm"
            , "chdrn_yn_nm"
            , "rsid_fom_nm"
            , "auser_ara_ctprv_nm"
            , "auser_ara_gu_nm"
            , "auser_ara_dong_nm"
            , "car_group_nm"]

In [165]:
# 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보) 2019
df5 = df5[columns4]
df5.columns = ["카테고리", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [167]:
# 자전거코스/자전거길 관심인구 정보
df6 = df6[columns3]
df6.columns = ["자전거길", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [170]:
columns5 = ["prduc_ctgry_smcls_nm"
            , "otdr_prduc_nm"
            , "auser_sxdst_cd"
            , "age_group_cd"
            , "occpn_nm"
            , "hshld_incm_group_nm"
            , "mrrg_yn_nm"
            , "chdrn_yn_nm"
            , "rsid_fom_nm"
            , "auser_ara_ctprv_nm"
            , "auser_ara_gu_nm"
            , "auser_ara_dong_nm"
            , "car_group_nm"]

In [171]:
# 자전거코스/자전거길 관심인구 자전거용품 검색 정보
df7 = df7[columns5]
df7.columns = ["카테고리", "상품내용", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [174]:
# 산림치유원 관심인구 선호 산림치유원 검색 정보
df8 = df8[columns3]
df8.columns = ["치유원", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [173]:
# 산림체험 관심인구 정보 2019
df9 = df9[columns3]
df9.columns = ["체험", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [181]:
# 산림체험 관심인구 선호 산림체험장소 검색 정보
df10 = df10[columns3]
df10.columns = ["체험", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [184]:
# 산림체험 관심인구 선호 산림체험 프로그램 검색 정보
df11 = df11[columns3]
df11.columns = ["체험", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [187]:
# 산림치유 관심인구 라이프스타일 (온라인쇼핑몰 검색/구매 카테고리) 정보
df12 = df12[columns4]
df12.columns = ["카테고리", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [192]:
# 귀산촌 관심인구 정보
df13 = df13[columns3]
df13.columns = ["귀산촌", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [195]:
# 산림재해 관심인구 정보
df14 = df14[columns3]
df14.columns = ["재해", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [198]:
# 산림대피소 관심인구 정보
df15 = df15[columns3]
df15.columns = ["대피소", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [200]:
# 산림재해 관심인구 관심지역 검색정보
df16 = df16[columns3]
df16.columns = ["재해", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [202]:
# 산림재해 연관 검색 키워드를 검색한 관심인구 정보
df17 = df17[columns3]
df17.columns = ["재해", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [214]:
columns6 = ["ntnl_park_nm"
        ,	"trk_nm"
        ,	"sxdst_cd"
        ,	"aggrp_sctin_val"
        ,	"trk_lngth"
        ,	"trk_rqrmn_tm"
        ,	"trk_avrg_kcal_cnsmp_qntt"]

In [219]:
# 전국 국립공원 등산로 이용자 분류(성/연령)별 평균 칼로리 소모량 정보
df18 = df18[columns6]
df18.columns = ['등산로', '트랙명', '성별', '연령', '길이m', '시간m', '칼로리']

In [235]:
# 둘레길 주변관광 이용자 정보
df19 = df19[columns1]
df19.columns = ["주변관광", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [238]:
# 둘레길 선호 관광 장소
df20 = df20[columns1]
df20.columns = ["선호관광", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [245]:
# 둘레길 관심인구 관심사/관심분야 (포털 검색 분야) 정보
df21 = df21[columns2]
df21.columns = ["주요관심", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [256]:
columns7 = ['lfst_cd',
            'auser_sxdst_cd',
            'age_group_cd',
            'auser_occpn_nm',
            'hshld_incm_group_nm',
            'mrrg_yn_nm',
            'chdrn_yn_nm',
            'rsid_fom_nm',
            'auser_ara_ctprv_nm',
            'auser_ara_gu_nm',
            'auser_ara_dong_nm',
            'car_group_nm']

In [257]:
# 둘레길 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df22 = df22[columns7]
df22.columns = ["카테고리", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

In [265]:
# 등산로 선호 관광 장소
df23 = df23[columns1]
df23.columns = ["선호관광", "사이트제목", "성별", "연령", "직업", "소득", "결혼", "자녀", "주거", "시도", "구", "동", "자동차"]

# 가공된 csv 저장하기

In [258]:
# 둘레길 관심
df1.to_csv(path + "FPL010101.csv", index=False)
# 등산로 관심인구 정보
df2.to_csv(path + "FPL020101.csv", index=False)
# 등산로 관심인구 관심사/관심분야 (포털 검색 분야) 정보
df3.to_csv(path + "FPL020801.csv", index=False)
# 국립공원 관심인구 정보
df4.to_csv(path + "FPL030101.csv", index=False)
# 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df5.to_csv(path + "FPL030701.csv", index=False)
# 자전거코스/자전거길 관심인구 정보
df6.to_csv(path + "FPL040101.csv", index=False)
# 자전거코스/자전거길 관심인구 자전거용품 검색 정보
df7.to_csv(path + "FPL040401.csv", index=False)
# 산림치유원 관심인구 선호 산림치유원 검색 정보
df8.to_csv(path + "FPL050201.csv", index=False)
# 산림체험 관심인구 정보
df9.to_csv(path + "FPL060101.csv", index=False)
# 산림체험 관심인구 선호 산림체험장소 검색 정보
df10.to_csv(path + "FPL060201.csv", index=False)
# 산림체험 관심인구 선호 산림체험 프로그램 검색 정보
df11.to_csv(path + "FPL060301.csv", index=False)
# 산림치유 관심인구 라이프스타일 (온라인쇼핑몰 검색/구매 카테고리) 정보
df12.to_csv(path + "FPL060501.csv", index=False)
# 귀산촌 관심인구 정보
df13.to_csv(path + "FPL070101.csv", index=False)
# 산림재해 관심인구 정보
df14.to_csv(path + "FPL080101.csv", index=False)
# 산림대피소 관심인구 정보
df15.to_csv(path + "FPL080201.csv", index=False)
# 산림재해 관심인구 관심지역 검색정보
df16.to_csv(path + "FPL080301.csv", index=False)
# 산림재해 연관 검색 키워드를 검색한 관심인구 정보
df17.to_csv(path + "FPL080401.csv", index=False)
# 전국 국립공원 등산로 이용자 분류(성/연령)별 평균 칼로리 소모량 정보
df18.to_csv(path + "PARK_KCAL.csv", index=False)
# 둘레길 주변관광 이용자 정보
df19.to_csv(path + "FPL010401.csv", index=False)
# 둘레길 선호 관광 장소
df20.to_csv(path + "FPL010501.csv", index=False)
# 둘레길 관심인구 관심사/관심분야 (포털 검색 분야) 정보
df21.to_csv(path + "FPL010801.csv", index=False)
# 둘레길 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df22.to_csv(path + "FPL010901.csv", index=False)

In [266]:
# 등산로 선호 관광 장소
df23.to_csv(path + "FPL020501.csv", index=False)

# 확인

In [267]:
pd.read_csv(path + "FPL020501.csv")

,선호관광,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,남원,[남원 -전북] 시골집 - 수제돈가스국수 전문점 : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
1,남원,남원 맛집 : 네이버 통합검색,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
2,남원,남원 맛집 근사한 한끼 : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
3,남원,제주 남원 맛집 며칠 내내 폭식쓰~ : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
4,남원,전북남원 맛집 : 네이버 플레이스 검색 결과,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15303,해운대,해운대 간장게장 기왓집엄마밥상 맛있네 : 네이버 블로그,F,2,"주부 (전업주부, 파트타임 근무 주부)",100~199만원,아니오,,단독주택,부산,동래구,칠산동,NaN
15304,해운대,[해랑] 나만아는 해운대 가을 명소 좌동 부흥공원 : 네이버 블로그,F,2,"주부 (전업주부, 파트타임 근무 주부)",100~199만원,아니오,,단독주택,부산,동래구,칠산동,NaN
15305,해운대,[해랑] 나만아는 해운대 가을 명소 좌동 부흥공원 : 네이버 블로그,F,2,"주부 (전업주부, 파트타임 근무 주부)",100~199만원,아니오,,단독주택,부산,동래구,칠산동,NaN
15306,해운대,해운대 빛축제 : 네이버 통합검색,F,2,"주부 (전업주부, 파트타임 근무 주부)",100~199만원,아니오,,단독주택,부산,동래구,칠산동,NaN
15307,해운대,해운대 빛축제 : 네이버 통합검색,F,2,"주부 (전업주부, 파트타임 근무 주부)",100~199만원,아니오,,단독주택,부산,동래구,칠산동,NaN

In [260]:
pd.read_csv(path + "FPL020801.csv")

,주요관심,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,TV연예,배우 윤주빈 알고보니 윤봉길 의사 종손…3.1절 기념식 편지낭독 :: 네이버 TV연예,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,의정부시,호원1동,NaN
1,TV연예,[단독]정인선 조보아 이어 골목식당 새 MC :: 네이버 TV연예,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,의정부시,호원1동,NaN
2,TV연예,윤주빈 3.1절 편지 낭독→윤봉길 종손 화제→꽃길 응원 봇물[스타이슈] :: 네이버...,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,의정부시,호원1동,NaN
3,TV연예,‘해투4’ 박유나 “김보라 ‘왜 또 나가냐’고”→전현무 “지금 정신없을 때” :: ...,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,의정부시,호원1동,NaN
4,TV연예,박유천 전 연인 황하나 의미심장 글…“남자 하나 잘못 만나 별일 다 겪네” :: 네...,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,의정부시,호원1동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
873016,스포츠,“코치님 감사합니다” SK 투수 깜짝 선물 끈끈하게 끝난 캔버라 캠프 :: 네이버스포츠,M,2,"기능직 (자동차정비, 운전기사, 안경사, 택시기사)",300~399만원,아니오,,단독주택,인천,남구,주안2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
873017,스포츠,승격 경험 있는 부산 조덕제 “올해는 다르다” [GOAL LIVE] :: 네이버스포츠,M,2,"기능직 (자동차정비, 운전기사, 안경사, 택시기사)",300~399만원,아니오,,단독주택,인천,남구,주안2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
873018,스포츠,[인터뷰] 말하지 못했던 비밀들... 울프 이재완의 마지막 인사 :: 네이버스포츠,M,2,"기능직 (자동차정비, 운전기사, 안경사, 택시기사)",300~399만원,아니오,,단독주택,인천,남구,주안2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
873019,스포츠,야구 : 네이버 스포츠,M,2,"기능직 (자동차정비, 운전기사, 안경사, 택시기사)",300~399만원,아니오,,단독주택,인천,남구,주안2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
873020,스포츠,축구 : 네이버 스포츠,M,2,"기능직 (자동차정비, 운전기사, 안경사, 택시기사)",300~399만원,아니오,,단독주택,인천,남구,주안2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"