In [ ]:
import pandas as pd
import os
from google.colab import drive

In [ ]:
pd.set_option('display.max_columns', None)
# display.[max_categories, max_columns, max_colwidth, max_dir_items,
#   max_info_columns, max_info_rows, max_rows, max_seq_items, memory_usage,
#   min_rows, multi_sparse, notebook_repr_html, pprint_nest_depth, precision,
#   show_dimensions]

In [ ]:
# 나의 구글 드라이브 연결
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
path = './drive/MyDrive/Colab Notebooks/'

# 데이터 불러오기

In [ ]:
# 국립공원 관심인구 정보
df1 = pd.read_csv(path + "FPL030101.csv")
# 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보)
df2 = pd.read_csv(path + "FPL030701.csv")

# 자전거코스/자전거길 관심인구 정보
df3 = pd.read_csv(path + "FPL040101.csv")
# 자전거코스/자전거길 관심인구 자전거용품 검색 정보
df4 = pd.read_csv(path + "FPL040401.csv")

# 산림치유원 관심인구 선호 산림치유원 검색 정보
df5 = pd.read_csv(path + "FPL050201.csv")

# 산림체험 관심인구 정보
df14 = pd.read_csv(path + "FPL060101.csv")
# 산림체험 관심인구 선호 산림체험장소 검색 정보
df15 = pd.read_csv(path + "FPL060201.csv")
# 산림체험 관심인구 선호 산림체험 프로그램 검색 정보
df16 = pd.read_csv(path + "FPL060301.csv")

# 산림치유 관심인구 라이프스타일 (온라인쇼핑몰 검색/구매 카테고리) 정보
df17 = pd.read_csv(path + "FPL060501.csv")

# 귀산촌 관심인구 정보
df18 = pd.read_csv(path + "FPL070101.csv")

# 산림재해 관심인구 정보
df19 = pd.read_csv(path + "FPL080101.csv")
# 산림대피소 관심인구 정보
df20 = pd.read_csv(path + "FPL080201.csv")
# 산림재해 관심인구 관심지역 검색정보
df21 = pd.read_csv(path + "FPL080301.csv")
# 산림재해 연관 검색 키워드를 검색한 관심인구 정보
df22 = pd.read_csv(path + "FPL080401.csv")

# 전국 국립공원 등산로 이용자 분류(성/연령)별 평균 칼로리 소모량 정보
df23 = pd.read_csv(path + "PARK_KCAL.csv")

# 국립공원[National Park]
> 자연 경치가 뛰어난 지역의 자연과 문화적 가치를 보호하기 위하여 나라에서 지정하여 관리하는 공원.

### df1 : 국립공원 관심인구 정보 (Total : 19,910)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 경북 | 대구
|국립공원 | 경주 | 북한산 | 지리산 | 만물상 | 월출산
|거주지 20 | 서울 | 부산 | 울산 | 경기 | 경북
|국립공원 | 경주 | 북한산 | 만물상 | 주왕산 | 지리산
|거주지 30 | 서울 | 경기 | 대구 | 경북 | 경남
|국립공원 | 경주 | 지리산 | 북한산 | 만물상 | 몽산포
|||||||
|거주지 14560 | 서울 | 경기 | 경북 | 대구 | 인천
|국립공원 | 경주 | 북한산 | 설악산 | 지리산 | 만물상

> 만물상[萬物相] : 금강산에 있는 바위산.

`[2-30] 여 : 9,410(85.1%), 남 : 1,651(14.9%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|11,061(55.6%)|6,044(54.6%)|7,622(68.9%)
|20|2,732(13.7%)|1,154(10.4%)|1,902(17.2%)
|30|8,329(41.8%)|4,890(44.2%)|5,720(51.7%)

---


### df2 : 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보) (Total : 173,928)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 대구 | 경남
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|거주지 20 | 서울 | 부산 | 경기 | 대구 | 광주
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 디지털/가전 | 뷰티
|거주지 30 | 서울 | 경기 | 부산 | 경남 | 대구
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|||||||
|거주지 14560 | 경기 | 서울 | 인천 | 경북 | 부산
|카테고리 | 식품/건강 | 패션의류 | 패션잡화 | 생활/주방 | 디지털/가전

`[2-30] 여 : 97,688(89.2%), 남 : 11,789(10.8%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|109,477(62.9%)|60,586(55.3%)|65,783(60.1%)
|20|20,686(11.9%)|6,631(6.1%) | 10,022(9.2%)
|30|88,791(51.1%)|53,955(49.3%)|55,761(50.9%)

---

### df3 : 자전거코스/자전거길 관심인구 정보 (Total : 23,494)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 인천 | 부산 | 대구
|자전거길 | 영산강자전거길 | 섬진강자전거길 | 낙동강자전거길 | 남한강자전거길 | 동해안자전거길
|거주지 20 | 서울 | 경기 | 인천 | 부산 | 대구
|자전거길 | 영산강자전거길 | 낙동강자전거길 | 섬진강자전거길 | 남한강자전거길 | 금강자전거길
|거주지 30 | 서울 | 경기 | 인천 | 부산 | 경남
|자전거길 | 영산강자전거길 | 섬진강자전거길 | 낙동강자전거길 | 남한강자전거길 | 동해안자전거길
|||||||
|거주지 14560 | 서울 | 경기 | 인천 | 부산 | 경남
|자전거길 | 영산강자전거길 | 남한강자전거길 | 동해안자전거길 | 낙동강자전거길 | 북한강자전거길

`[2-30] 여 : 5,163(38.0%), 남 : 8,414(62.0%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|13,577(57.8%)|3,385(24.9%)|4,951(36.5%)
|20|6,363(27.1%)|661(4.9%) | 1,258(9.3%)
|30|7,214(30.7%)|2,724(20.1%)|3,693(27.2%)

---

### df4 : 자전거코스/자전거길 관심인구 자전거용품 검색 정보 (Total : 3,200)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 인천 | 부산 | 대구
|카테고리 | 자전거 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|거주지 20 | 서울 | 경기 | 부산 | 인천 | 대구
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 디지털/가전 | 뷰티
|거주지 30 | 서울 | 경기 | 인천 | 부산 | 대구
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|||||||
|거주지 14560 | 경기 | 서울 | 인천 | 경북 | 부산
|카테고리 | 식품/건강 | 패션의류 | 패션잡화 | 생활/주방 | 디지털/가전

`[2-30] 여 : 701(37.9%), 남 : 1,149(62.1%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|1,850(57.8%)|470(25.4%)|655(35.4%)
|20|867(27.1%)|96(5.2%) | 175(9.5%)
|30|983(30.7%)|374(20.2%)|480(25.9%)

---

### df5 : 산림치유원 관심인구 선호 산림치유원 검색 정보 (Total : 873,021)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 대구 | 경남
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|거주지 20 | 서울 | 부산 | 경기 | 대구 | 광주
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 디지털/가전 | 뷰티
|거주지 30 | 서울 | 경기 | 부산 | 경남 | 대구
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|||||||
|거주지 14560 | 경기 | 서울 | 인천 | 경북 | 부산
|카테고리 | 식품/건강 | 패션의류 | 패션잡화 | 생활/주방 | 디지털/가전

`[2-30] 여 : 97,688(89.2%), 남 : 11,789(10.8%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|109,477(62.9%)|60,586(55.3%)|65,783(60.1%)
|20|20,686(11.9%)|6,631(6.1%) | 10,022(9.2%)
|30|88,791(51.1%)|53,955(49.3%)|55,761(50.9%)

# 국립공원[National Park]
> 자연 경치가 뛰어난 지역의 자연과 문화적 가치를 보호하기 위하여 나라에서 지정하여 관리하는 공원.

### df1 : 국립공원 관심인구 정보 (Total : 19,910)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 경북 | 대구
|국립공원 | 경주 | 북한산 | 지리산 | 만물상 | 월출산
|거주지 20 | 서울 | 부산 | 울산 | 경기 | 경북
|국립공원 | 경주 | 북한산 | 만물상 | 주왕산 | 지리산
|거주지 30 | 서울 | 경기 | 대구 | 경북 | 경남
|국립공원 | 경주 | 지리산 | 북한산 | 만물상 | 몽산포
|||||||
|거주지 14560 | 서울 | 경기 | 경북 | 대구 | 인천
|국립공원 | 경주 | 북한산 | 설악산 | 지리산 | 만물상

> 만물상[萬物相] : 금강산에 있는 바위산.

`[2-30] 여 : 9,410(85.1%), 남 : 1,651(14.9%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|11,061(55.6%)|6,044(54.6%)|7,622(68.9%)
|20|2,732(13.7%)|1,154(10.4%)|1,902(17.2%)
|30|8,329(41.8%)|4,890(44.2%)|5,720(51.7%)

---


### df2 : 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보) (Total : 173,928)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 대구 | 경남
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|거주지 20 | 서울 | 부산 | 경기 | 대구 | 광주
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 디지털/가전 | 뷰티
|거주지 30 | 서울 | 경기 | 부산 | 경남 | 대구
|카테고리 | 식품/건강 | 패션의류 | 생활/주방 | 뷰티 | 패션잡화
|||||||
|거주지 14560 | 경기 | 서울 | 인천 | 경북 | 부산
|카테고리 | 식품/건강 | 패션의류 | 패션잡화 | 생활/주방 | 디지털/가전

`[2-30] 여 : 97,688(89.2%), 남 : 11,789(10.8%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|109,477(62.9%)|60,586(55.3%)|65,783(60.1%)
|20|20,686(11.9%)|6,631(6.1%) | 10,022(9.2%)
|30|88,791(51.1%)|53,955(49.3%)|55,761(50.9%)

---

### df3 : 자전거코스/자전거길 관심인구 정보 (Total : 23,494)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 인천 | 부산 | 대구
|자전거길 | 영산강자전거길 | 섬진강자전거길 | 낙동강자전거길 | 남한강자전거길 | 동해안자전거길
|거주지 20 | 서울 | 경기 | 인천 | 부산 | 대구
|자전거길 | 영산강자전거길 | 낙동강자전거길 | 섬진강자전거길 | 남한강자전거길 | 금강자전거길
|거주지 30 | 서울 | 경기 | 인천 | 부산 | 경남
|자전거길 | 영산강자전거길 | 섬진강자전거길 | 낙동강자전거길 | 남한강자전거길 | 동해안자전거길
|||||||
|거주지 14560 | 서울 | 경기 | 인천 | 부산 | 경남
|자전거길 | 영산강자전거길 | 남한강자전거길 | 동해안자전거길 | 낙동강자전거길 | 북한강자전거길

`[2-30] 여 : 5,163(38.0%), 남 : 8,414(62.0%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|13,577(57.8%)|3,385(24.9%)|4,951(36.5%)
|20|6,363(27.1%)|661(4.9%) | 1,258(9.3%)
|30|7,214(30.7%)|2,724(20.1%)|3,693(27.2%)

---

### df4 : 자전거코스/자전거길 관심인구 자전거용품 검색 정보 (Total : 3,200)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 인천 | 부산 | 대구
|카테고리 | 자전거 | 자전거액세서리 | 자전거의류/잡화 | 보호대 | 헬멧
|거주지 20 | 서울 | 경기 | 부산 | 인천 | 대구
|카테고리 | 자전거 | 자전거액세서리 | 자전거의류/잡화 | 보호대 | 헬멧/보호장비
|거주지 30 | 서울 | 경기 | 인천 | 부산 | 대구
|카테고리 | 자전거 | 자전거액세서리 | 자전거의류/잡화 | 헬멧 | 보호대
|||||||
|거주지 450 | 경기 | 서울 | 인천 | 경북 | 부산
|카테고리 | 자전거 | 자전거액세서리 | 자전거의류/잡화 | 헬멧 | MTB

> MTB : mountain bike

`[2-30] 여 : 701(37.9%), 남 : 1,149(62.1%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|1,850(57.8%)|470(25.4%)|655(35.4%)
|20|867(27.1%)|96(5.2%) | 175(9.5%)
|30|983(30.7%)|374(20.2%)|480(25.9%)

---

### df5 : 산림치유원 관심인구 선호 산림치유원 검색 정보 (Total : 737)

|순위| 1 | 2 | 3 | 4 | 5 |
|--|--|--|--|--|--|
|거주지 230 | 서울 | 경기 | 부산 | 인천 | 대구
|치유원 | 산림치유원 | 치유의숲 | 숲체원 | 횡성숲체원 |  
|거주지 20 | 경기 | 서울 | 인천 | 강원 | 경북
|치유원 (경기) | 산림치유원 |  |  |  |
|거주지 30 | 서울 | 경기 | 대구 | 부산 | 인천
|치유원 | 산림치유원 | 치유의숲 | 숲체원 | 횡성숲체원 |
|||||||
|거주지 450 | 서울 | 경기 | 강원 | 부산 | 대구
|치유원 | 산림치유원 | 치유의숲 |  |  |

`[2-30] 여 : 269(72.9%), 남 : 100(27.1%)`

|Age|관심인구|Car|job|
|--|--|--|--|
|2-30|369(50.1%)|128(34.7%)|157(42.5%)
|20|100(13.6%)|10(2.7%) | 21(5.7%)
|30|269(36.5%)|118(32.0%)|136(36.9%)

10대는 부모의 영향  
길 & 코스 & 자전거 -> 남자  
인터넷 쇼핑 & 치유원 -> 여자

---
---
# df1 : 국립공원 관심인구 정보 (Total : 19,910)

In [ ]:
len(df1)

19910

In [ ]:
df1.head()

,국립공원,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,지리산,지리산 : 네이버 통합검색,M,3,"사무직 (일반사무직, 공무원, 직업군인)",600~699만원,아니오,,연립주택/ 다세대/ 빌라,서울,동대문구,답십리2동,"경차 (모닝, 스파크 등)"
1,지리산,지리산,M,3,"사무직 (일반사무직, 공무원, 직업군인)",600~699만원,아니오,,연립주택/ 다세대/ 빌라,서울,동대문구,답십리2동,"경차 (모닝, 스파크 등)"
2,흑산도,전주 횟집 추천 다농 3층 흑산도13호 가성비 대박이네! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
3,흑산도,전주 횟집 추천 흑산도13호 으뜸! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
4,흑산도,전주 송천동 횟집 다농3층 흑산도 13호 갑!! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN

In [ ]:
age_counts = df1['연령'].value_counts()
age_counts

3    8329
4    6401
2    2732
5    2256
1     174
6      18
Name: 연령, dtype: int64

In [ ]:
age_counts.loc[[2,3]].sum()

11061

In [ ]:
round(age_counts.loc[[2,3]].sum() / age_counts.sum() * 100, 1),\
round(age_counts.loc[2] / age_counts.sum() * 100, 1),\
round(age_counts.loc[3] / age_counts.sum() * 100, 1),\
round(age_counts.drop([2,3]).sum() / age_counts.sum() * 100, 1)

(55.6, 13.7, 41.8, 44.4)

In [ ]:
df1_23 = df1[df1['연령'].isin([2, 3])]
df1_2 = df1[(df1['연령'] == 2)]
df1_3 = df1[(df1['연령'] == 3)]
df1_1456 = df1[df1['연령'].isin([1, 4, 5, 6])]

In [ ]:
df1_23.head()

,국립공원,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,지리산,지리산 : 네이버 통합검색,M,3,"사무직 (일반사무직, 공무원, 직업군인)",600~699만원,아니오,,연립주택/ 다세대/ 빌라,서울,동대문구,답십리2동,"경차 (모닝, 스파크 등)"
1,지리산,지리산,M,3,"사무직 (일반사무직, 공무원, 직업군인)",600~699만원,아니오,,연립주택/ 다세대/ 빌라,서울,동대문구,답십리2동,"경차 (모닝, 스파크 등)"
2,흑산도,전주 횟집 추천 다농 3층 흑산도13호 가성비 대박이네! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
3,흑산도,전주 횟집 추천 흑산도13호 으뜸! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN
4,흑산도,전주 송천동 횟집 다농3층 흑산도 13호 갑!! : 네이버 블로그,F,3,"판매직 (상점점원, 보험설계사, 노점상)",200~299만원,예,자녀 있음,단독주택,전북,장수군,천천면,NaN

### 230대 성별

In [ ]:
sex_counts = df1_23['성별'].value_counts()
sex_counts

F    9410
M    1651
Name: 성별, dtype: int64

In [ ]:
round(sex_counts.loc['F'] / sex_counts.sum() * 100 , 1),\
round(sex_counts.loc['M'] / sex_counts.sum() * 100 , 1)

(85.1, 14.9)

### 230대 직업

In [ ]:
df1_23['직업'].notnull().sum(), df1_23['소득'].notnull().sum()

(11054, 11054)

In [ ]:
job_counts = df1_23['직업'].value_counts()
job_counts

사무직 (일반사무직, 공무원, 직업군인)             3676
주부 (전업주부, 파트타임 근무 주부)              2362
전문직 (의사, 판검사, 예술가, 종교인)            1575
교직 (교사, 유치원교사, 학원강사)               1048
학생 (초중고학생, 대학생, 대학원생)               692
무직                                  361
자영업 (도소매업, 숙박업, 미용업)                340
서비스직 (요식업, 숙박업, 미용실종업원)             250
관리직 (사장, 간부, 고위공무원)                 231
생산/노무직 (생산감독, 경비원, 공장근로자)           193
기타                                  165
기능직 (자동차정비, 운전기사, 안경사, 택시기사)         84
판매직 (상점점원, 보험설계사, 노점상)               59
퇴직/연금생활자                             17
농/축/광/수산업 (축산, 낙농업, 수산, 임업, 광업)       1
Name: 직업, dtype: int64

In [ ]:
drop_jobs = job_counts[job_counts.index.str.contains('학생|퇴직|주부')]
drop_jobs

주부 (전업주부, 파트타임 근무 주부)    2362
학생 (초중고학생, 대학생, 대학원생)     692
퇴직/연금생활자                   17
Name: 직업, dtype: int64

In [ ]:
round((job_counts.sum() - drop_jobs.sum() - job_counts['무직']) / len(df1_23) * 100, 1),\
job_counts.sum() - drop_jobs.sum() - job_counts['무직']

(68.9, 7622)

In [ ]:
job2_counts = df1_2['직업'].value_counts()
job3_counts = df1_3['직업'].value_counts()

In [ ]:
drop2_jobs = job2_counts[job2_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs = job3_counts[job3_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs

주부 (전업주부, 파트타임 근무 주부)    2331
학생 (초중고학생, 대학생, 대학원생)      45
퇴직/연금생활자                   10
Name: 직업, dtype: int64

In [ ]:
round((job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직']) / len(df1_23) * 100, 1),\
job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직'],\
round((job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']) / len(df1_23) * 100, 1),\
job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']

(17.2, 1902, 51.7, 5720)

### 230대 자동차

In [ ]:
car_counts = df1_23['자동차'].value_counts()
car_counts

경차 (모닝, 스파크 등)                      2037
준중형차 (아반떼, K3, 크루즈, 제타급 등)          1377
중형차 (쏘나타, K5, 말리부, 골프급 등)            610
소형SUV/CUV (티볼리, QM3 등)               489
준중형SUV (투싼, 스포티지, QM5, 티구안급 등)       448
준대형차 (그랜저, K7, 알페온, 캠리급, 파사트급 등)     381
MPV (카니발, 올란도, 피카소급, 오딧세이 등)         284
중형SUV (싼타페, 쏘렌토, 캡티바, BMW X3급 등)     153
소형차 (액센트, 프라이드, 아베오, 피아트급 등)         130
대형차 (제너시스, BMW5급 등)                   53
준중형파생 (벨로스터, I30 등)                   37
대형SUV (베라크루즈, 모하비, 투아렉급 등)            32
기타 (승합차/트럭/화물차/기타 차량 등)               10
스포츠 (제네시스 쿠페, BMW M, 벤츠 AMG 등)         3
Name: 자동차, dtype: int64

In [ ]:
round(car_counts.sum() / len(df1_23) * 100, 1),\
car_counts.sum()

(54.6, 6044)

In [ ]:
car2_counts = df1_2['자동차'].value_counts()
car3_counts = df1_3['자동차'].value_counts()

round(car2_counts.sum() / len(df1_23) * 100, 1),\
car2_counts.sum(),\
round(car3_counts.sum() / len(df1_23) * 100, 1),\
car3_counts.sum()

(10.4, 1154, 44.2, 4890)

In [ ]:
df1_23['시도'].value_counts()[:5],\
df1_2['시도'].value_counts()[:5],\
df1_3['시도'].value_counts()[:5]

(서울    2894
 경기    1870
 부산    1015
 경북     936
 대구     914
 Name: 시도, dtype: int64,
 서울    621
 부산    524
 울산    397
 경기    376
 경북    259
 Name: 시도, dtype: int64,
 서울    2273
 경기    1494
 대구     840
 경북     677
 경남     668
 Name: 시도, dtype: int64)

In [ ]:
df1_23[df1_23['시도'] == "서울"]['국립공원'].value_counts()[:6],\
df1_2[df1_2['시도'] == "서울"]['국립공원'].value_counts()[:6],\
df1_3[df1_3['시도'] == "서울"]['국립공원'].value_counts()[:6]

(경주      1095
 국립공원     199
 북한산      164
 지리산      159
 만물상      128
 월출산      104
 Name: 국립공원, dtype: int64,
 경주      283
 국립공원    128
 북한산      30
 만물상      26
 주왕산      20
 지리산      19
 Name: 국립공원, dtype: int64,
 경주     812
 지리산    140
 북한산    134
 만물상    102
 월출산     89
 몽산포     82
 Name: 국립공원, dtype: int64)

In [ ]:
df1_1456['시도'].value_counts()[:5],\
df1_1456[df1_1456['시도'] == "서울"]['국립공원'].value_counts()[:6]

(서울    3328
 경기    2354
 경북     726
 대구     412
 인천     391
 Name: 시도, dtype: int64,
 경주      1066
 국립공원     299
 북한산      185
 설악산      183
 지리산      178
 만물상      166
 Name: 국립공원, dtype: int64)

# df2 : 국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보) (Total : 173,928)

In [ ]:
len(df2)

173928

In [ ]:
df2.head()

,카테고리,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,레저/자동차,F,3,"사무직 (일반사무직, 공무원, 직업군인)",100~199만원,아니오,,연립주택/ 다세대/ 빌라,경기,수원시 권선구,권선동,NaN
1,생활/주방,F,3,"주부 (전업주부, 파트타임 근무 주부)",200~299만원,예,자녀 없음,연립주택/ 다세대/ 빌라,서울,강서구,화곡본동,"경차 (모닝, 스파크 등)"
2,패션잡화,F,2,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,아니오,,아파트/ 주상복합,부산,북구,화명1동,NaN
3,패션잡화,F,2,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,아니오,,아파트/ 주상복합,부산,북구,화명1동,NaN
4,식품/건강,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,연립주택/ 다세대/ 빌라,경기,용인시 수지구,죽전동,NaN

### 연령

In [ ]:
age_counts = df2['연령'].value_counts()
age_counts

3    88791
4    60967
2    20686
5     3484
Name: 연령, dtype: int64

In [ ]:
age_counts.loc[[2,3]].sum(), round(age_counts.loc[[2,3]].sum() / age_counts.sum() * 100, 1),\
age_counts.loc[2], round(age_counts.loc[2] / age_counts.sum() * 100, 1),\
age_counts.loc[3], round(age_counts.loc[3] / age_counts.sum() * 100, 1),\
age_counts.drop([2,3]).sum(), round(age_counts.drop([2,3]).sum() / age_counts.sum() * 100, 1)

(109477, 62.9, 20686, 11.9, 88791, 51.1, 64451, 37.1)

In [ ]:
df2_23 = df2[df2['연령'].isin([2, 3])]
df2_2 = df2[(df2['연령'] == 2)]
df2_3 = df2[(df2['연령'] == 3)]
df2_1456 = df2[df2['연령'].isin([1, 4, 5, 6])]

### 230대 성별

In [ ]:
sex_counts = df2_23['성별'].value_counts()
sex_counts

F    97688
M    11789
Name: 성별, dtype: int64

In [ ]:
round(sex_counts.loc['F'] / sex_counts.sum() * 100 , 1),\
round(sex_counts.loc['M'] / sex_counts.sum() * 100 , 1)

(89.2, 10.8)

### 230대 직업

In [ ]:
job_counts = df2_23['직업'].value_counts()
job_counts

사무직 (일반사무직, 공무원, 직업군인)          39812
주부 (전업주부, 파트타임 근무 주부)           28463
학생 (초중고학생, 대학생, 대학원생)            8256
교직 (교사, 유치원교사, 학원강사)             7694
전문직 (의사, 판검사, 예술가, 종교인)          6684
무직                               6638
서비스직 (요식업, 숙박업, 미용실종업원)          3377
기타                               2121
자영업 (도소매업, 숙박업, 미용업)             2021
판매직 (상점점원, 보험설계사, 노점상)           1775
기능직 (자동차정비, 운전기사, 안경사, 택시기사)     1162
생산/노무직 (생산감독, 경비원, 공장근로자)         662
관리직 (사장, 간부, 고위공무원)               475
퇴직/연금생활자                           30
Name: 직업, dtype: int64

In [ ]:
drop_jobs = job_counts[job_counts.index.str.contains('학생|퇴직|주부')]
drop_jobs

주부 (전업주부, 파트타임 근무 주부)    28463
학생 (초중고학생, 대학생, 대학원생)     8256
퇴직/연금생활자                    30
Name: 직업, dtype: int64

In [ ]:
round((job_counts.sum() - drop_jobs.sum() - job_counts['무직']) / len(df2_23) * 100, 1),\
job_counts.sum() - drop_jobs.sum() - job_counts['무직']

(60.1, 65783)

In [ ]:
job2_counts = df2_2['직업'].value_counts()
job3_counts = df2_3['직업'].value_counts()

In [ ]:
drop2_jobs = job2_counts[job2_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs = job3_counts[job3_counts.index.str.contains('학생|퇴직|주부')]

In [ ]:
round((job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직']) / len(df2_23) * 100, 1),\
job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직'],\
round((job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']) / len(df2_23) * 100, 1),\
job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']

(9.2, 10022, 50.9, 55761)

### 230대 자동차

In [ ]:
car_counts = df2_23['자동차'].value_counts()
car_counts

경차 (모닝, 스파크 등)                      12423
준중형차 (아반떼, K3, 크루즈, 제타급 등)          11421
준대형차 (그랜저, K7, 알페온, 캠리급, 파사트급 등)     8453
중형차 (쏘나타, K5, 말리부, 골프급 등)            7944
소형SUV/CUV (티볼리, QM3 등)               7451
MPV (카니발, 올란도, 피카소급, 오딧세이 등)         3915
준중형SUV (투싼, 스포티지, QM5, 티구안급 등)       3451
중형SUV (싼타페, 쏘렌토, 캡티바, BMW X3급 등)     2695
대형차 (제너시스, BMW5급 등)                  1389
대형SUV (베라크루즈, 모하비, 투아렉급 등)            904
준중형파생 (벨로스터, I30 등)                   294
소형차 (액센트, 프라이드, 아베오, 피아트급 등)          121
기타 (승합차/트럭/화물차/기타 차량 등)                90
스포츠 (제네시스 쿠페, BMW M, 벤츠 AMG 등)         35
Name: 자동차, dtype: int64

In [ ]:
round(car_counts.sum() / len(df2_23) * 100, 1),\
car_counts.sum()

(55.3, 60586)

In [ ]:
car2_counts = df2_2['자동차'].value_counts()
car3_counts = df2_3['자동차'].value_counts()

round(car2_counts.sum() / len(df2_23) * 100, 1),\
car2_counts.sum(),\
round(car3_counts.sum() / len(df2_23) * 100, 1),\
car3_counts.sum()

(6.1, 6631, 49.3, 53955)

### 230대 거주지

In [ ]:
df2_23['시도'].value_counts()[:5],\
df2_2['시도'].value_counts()[:5],\
df2_3['시도'].value_counts()[:5]

(서울    34261
 경기    25951
 부산    13201
 대구     7131
 경남     6215
 Name: 시도, dtype: int64,
 서울    8717
 부산    4993
 경기    3532
 대구    1154
 광주     737
 Name: 시도, dtype: int64,
 서울    25544
 경기    22419
 부산     8208
 경남     6035
 대구     5977
 Name: 시도, dtype: int64)

In [ ]:
df2_23[df2_23['시도'] == "서울"]['카테고리'].value_counts()[:5],\
df2_2[df2_2['시도'] == "서울"]['카테고리'].value_counts()[:5],\
df2_3[df2_3['시도'] == "서울"]['카테고리'].value_counts()[:5]

(식품/건강    15583
 패션의류      8216
 생활/주방     3350
 뷰티        2270
 패션잡화      2157
 Name: 카테고리, dtype: int64,
 식품/건강     3542
 패션의류      3259
 생활/주방      568
 디지털/가전     386
 뷰티         343
 Name: 카테고리, dtype: int64,
 식품/건강    12041
 패션의류      4957
 생활/주방     2782
 뷰티        1927
 패션잡화      1873
 Name: 카테고리, dtype: int64)

In [ ]:
df2_1456['시도'].value_counts()[:5],\
df2_1456[df2_1456['시도'] == "경기"]['카테고리'].value_counts()[:5]

(경기    24141
 서울    18287
 인천     5535
 경북     3554
 부산     3143
 Name: 시도, dtype: int64,
 식품/건강     9693
 패션의류      5815
 패션잡화      2582
 생활/주방     2361
 디지털/가전    1217
 Name: 카테고리, dtype: int64)

# df3 : 자전거코스/자전거길 관심인구 정보 (Total : 23,494)

In [ ]:
len(df3)

23494

In [ ]:
df3.head()

,자전거길,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,남양주왕숙천자전거길,남양주 왕숙천 자전거길 라이딩,F,4,NaN,NaN,,,NaN,서울,노원구,상계10동,NaN
1,화명생태공원자전거길,브롬톤 화명생태공원 자전거길,M,2,NaN,NaN,,,NaN,전남,담양군,고서면,NaN
2,경춘선자전거길,경춘선 자전거길 라이딩,M,3,NaN,NaN,,,NaN,경북,영천시,언하동,NaN
3,평화누리자전거길,평화누리 자전거길,F,2,무직,100만원 미만,아니오,,연립주택/ 다세대/ 빌라,인천,서구,연희동,"경차 (모닝, 스파크 등)"
4,중랑천자전거길,191102 동두천 마실 라이딩중랑천 자전거길,M,2,NaN,NaN,,,NaN,경북,안동시,서후면,NaN

### AGE

In [ ]:
age_counts = df3['연령'].value_counts()
age_counts

3    7214
2    6363
4    6155
5    3762
Name: 연령, dtype: int64

In [ ]:
age_counts.loc[[2,3]].sum(), round(age_counts.loc[[2,3]].sum() / age_counts.sum() * 100, 1),\
age_counts.loc[2], round(age_counts.loc[2] / age_counts.sum() * 100, 1),\
age_counts.loc[3], round(age_counts.loc[3] / age_counts.sum() * 100, 1),\
age_counts.drop([2,3]).sum(), round(age_counts.drop([2,3]).sum() / age_counts.sum() * 100, 1)

(13577, 57.8, 6363, 27.1, 7214, 30.7, 9917, 42.2)

In [ ]:
df3_23 = df3[df3['연령'].isin([2, 3])]
df3_2 = df3[(df3['연령'] == 2)]
df3_3 = df3[(df3['연령'] == 3)]
df3_1456 = df3[df3['연령'].isin([1, 4, 5, 6])]

### 230대 성별

In [ ]:
sex_counts = df3_23['성별'].value_counts()
sex_counts

M    8414
F    5163
Name: 성별, dtype: int64

In [ ]:
round(sex_counts.loc['F'] / sex_counts.sum() * 100 , 1),\
round(sex_counts.loc['M'] / sex_counts.sum() * 100 , 1)

(38.0, 62.0)

### 230대 직업

In [ ]:
job_counts = df3_23['직업'].value_counts()
job_counts

사무직 (일반사무직, 공무원, 직업군인)             2354
학생 (초중고학생, 대학생, 대학원생)              1475
전문직 (의사, 판검사, 예술가, 종교인)             635
무직                                  578
주부 (전업주부, 파트타임 근무 주부)               493
서비스직 (요식업, 숙박업, 미용실종업원)             387
생산/노무직 (생산감독, 경비원, 공장근로자)           365
교직 (교사, 유치원교사, 학원강사)                302
기타                                  285
자영업 (도소매업, 숙박업, 미용업)                202
판매직 (상점점원, 보험설계사, 노점상)              155
기능직 (자동차정비, 운전기사, 안경사, 택시기사)        149
관리직 (사장, 간부, 고위공무원)                  93
농/축/광/수산업 (축산, 낙농업, 수산, 임업, 광업)      24
퇴직/연금생활자                             19
Name: 직업, dtype: int64

In [ ]:
drop_jobs = job_counts[job_counts.index.str.contains('학생|퇴직|주부')]
drop_jobs

학생 (초중고학생, 대학생, 대학원생)    1475
주부 (전업주부, 파트타임 근무 주부)     493
퇴직/연금생활자                   19
Name: 직업, dtype: int64

In [ ]:
round((job_counts.sum() - drop_jobs.sum() - job_counts['무직']) / len(df3_23) * 100, 1),\
job_counts.sum() - drop_jobs.sum() - job_counts['무직']

(36.5, 4951)

In [ ]:
job2_counts = df3_2['직업'].value_counts()
job3_counts = df3_3['직업'].value_counts()

In [ ]:
drop2_jobs = job2_counts[job2_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs = job3_counts[job3_counts.index.str.contains('학생|퇴직|주부')]

In [ ]:
round((job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직']) / len(df3_23) * 100, 1),\
job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직'],\
round((job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']) / len(df3_23) * 100, 1),\
job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']

(9.3, 1258, 27.2, 3693)

### 230대 자동차

In [ ]:
car_counts = df3_23['자동차'].value_counts()
car_counts

준중형차 (아반떼, K3, 크루즈, 제타급 등)          818
중형차 (쏘나타, K5, 말리부, 골프급 등)           695
경차 (모닝, 스파크 등)                      422
준중형SUV (투싼, 스포티지, QM5, 티구안급 등)      315
중형SUV (싼타페, 쏘렌토, 캡티바, BMW X3급 등)    237
준대형차 (그랜저, K7, 알페온, 캠리급, 파사트급 등)    218
소형차 (액센트, 프라이드, 아베오, 피아트급 등)        189
소형SUV/CUV (티볼리, QM3 등)              121
대형차 (제너시스, BMW5급 등)                  94
MPV (카니발, 올란도, 피카소급, 오딧세이 등)         90
기타 (승합차/트럭/화물차/기타 차량 등)              71
대형SUV (베라크루즈, 모하비, 투아렉급 등)           39
프리미엄 (에쿠스, BMW7급 등)                  25
스포츠 (제네시스 쿠페, BMW M, 벤츠 AMG 등)       24
준중형파생 (벨로스터, I30 등)                  24
중형파생 (I40 등)                          3
Name: 자동차, dtype: int64

In [ ]:
round(car_counts.sum() / len(df3_23) * 100, 1),\
car_counts.sum()

(24.9, 3385)

In [ ]:
car2_counts = df3_2['자동차'].value_counts()
car3_counts = df3_3['자동차'].value_counts()

round(car2_counts.sum() / len(df3_23) * 100, 1),\
car2_counts.sum(),\
round(car3_counts.sum() / len(df3_23) * 100, 1),\
car3_counts.sum()

(4.9, 661, 20.1, 2724)

### 230대 거주지

In [ ]:
df3_23['시도'].value_counts()[:5],\
df3_2['시도'].value_counts()[:5],\
df3_3['시도'].value_counts()[:5]

(서울    4422
 경기    3351
 인천     867
 부산     835
 대구     588
 Name: 시도, dtype: int64,
 서울    1898
 경기    1462
 인천     396
 부산     394
 대구     310
 Name: 시도, dtype: int64,
 서울    2524
 경기    1889
 인천     471
 부산     441
 경남     287
 Name: 시도, dtype: int64)

In [ ]:
df3_23[df3_23['시도'] == "서울"]['자전거길'].value_counts()[:5],\
df3_2[df3_2['시도'] == "서울"]['자전거길'].value_counts()[:5],\
df3_3[df3_3['시도'] == "서울"]['자전거길'].value_counts()[:5]

(영산강자전거길    328
 섬진강자전거길    270
 낙동강자전거길    261
 남한강자전거길    245
 동해안자전거길    228
 Name: 자전거길, dtype: int64,
 영산강자전거길    149
 낙동강자전거길    117
 섬진강자전거길    114
 남한강자전거길    103
 금강자전거길      94
 Name: 자전거길, dtype: int64,
 영산강자전거길    179
 섬진강자전거길    156
 낙동강자전거길    144
 남한강자전거길    142
 동해안자전거길    135
 Name: 자전거길, dtype: int64)

In [ ]:
df3_1456['시도'].value_counts()[:5],\
df3_1456[df3_1456['시도'] == "서울"]['자전거길'].value_counts()[:5]

(서울    3335
 경기    2837
 인천     640
 부산     511
 경남     350
 Name: 시도, dtype: int64,
 영산강자전거길    242
 남한강자전거길    191
 동해안자전거길    191
 낙동강자전거길    190
 북한강자전거길    178
 Name: 자전거길, dtype: int64)

# df4 : 자전거코스/자전거길 관심인구 자전거용품 검색 정보 (Total : 3,200)

In [ ]:
len(df4)

3200

In [ ]:
df4.head()

,카테고리,상품내용,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,자전거액세서리,유아안장자전거유아안장 후방유아안장 아동보조안장,F,5,NaN,NaN,,,NaN,서울,강서구,화곡8동,NaN
1,에어펌프(발펌프),GIYO지요 GF-56GTB ULTRA 자전거펌프 공기배출기능,F,4,NaN,NaN,,,NaN,경기,오산시,갈곶동,NaN
2,장갑,윈드스토퍼스마트터치 겨울 방한장갑 네오프렌 방풍,F,2,"학생 (초중고학생, 대학생, 대학원생)",300~399만원,아니오,,단독주택,부산,사상구,괘법동,NaN
3,자전거의류/잡화,사은품증정나루 마스크 자전거 자외선차단 등산 골프 바라클라바 버프 겨울 방한 넥워머...,M,2,"서비스직 (요식업, 숙박업, 미용실종업원)","1,000만원 이상",아니오,,연립주택/ 다세대/ 빌라,경기,고양시 덕양구,내유동,NaN
4,자전거액세서리,완전사2017년 신형 KSM400-3 SE 연납축전지 12V/,M,3,"생산/노무직 (생산감독, 경비원, 공장근로자)",300~399만원,예,자녀 없음,연립주택/ 다세대/ 빌라,경기,안산시 단원구,선부2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"

In [ ]:
age_counts = df4['연령'].value_counts()
age_counts

3    983
2    867
4    839
5    511
Name: 연령, dtype: int64

In [ ]:
age_counts.loc[[2,3]].sum()

1850

In [ ]:
round(age_counts.loc[[2,3]].sum() / age_counts.sum() * 100, 1),\
round(age_counts.loc[2] / age_counts.sum() * 100, 1),\
round(age_counts.loc[3] / age_counts.sum() * 100, 1),\
round(age_counts.drop([2,3]).sum() / age_counts.sum() * 100, 1)

(57.8, 27.1, 30.7, 42.2)

In [ ]:
df4_23 = df4[df4['연령'].isin([2, 3])]
df4_2 = df4[(df4['연령'] == 2)]
df4_3 = df4[(df4['연령'] == 3)]
df4_45 = df4[df4['연령'].isin([4, 5])]

In [ ]:
df4_23.head()

,카테고리,상품내용,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
2,장갑,윈드스토퍼스마트터치 겨울 방한장갑 네오프렌 방풍,F,2,"학생 (초중고학생, 대학생, 대학원생)",300~399만원,아니오,,단독주택,부산,사상구,괘법동,NaN
3,자전거의류/잡화,사은품증정나루 마스크 자전거 자외선차단 등산 골프 바라클라바 버프 겨울 방한 넥워머...,M,2,"서비스직 (요식업, 숙박업, 미용실종업원)","1,000만원 이상",아니오,,연립주택/ 다세대/ 빌라,경기,고양시 덕양구,내유동,NaN
4,자전거액세서리,완전사2017년 신형 KSM400-3 SE 연납축전지 12V/,M,3,"생산/노무직 (생산감독, 경비원, 공장근로자)",300~399만원,예,자녀 없음,연립주택/ 다세대/ 빌라,경기,안산시 단원구,선부2동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
7,자전거타이어/부품,삼천리알루미늄 핸드펌프 - 자전거 다용도 튜브 펌프 공기주입기,M,3,NaN,NaN,,,NaN,부산,북구,만덕3동,NaN
9,자전거,지멘스여성용 부인용 자전거 클래식 24 26인치,M,3,NaN,NaN,,,NaN,서울,강남구,일원동,NaN

### 230대 성별

In [ ]:
sex_counts = df4_23['성별'].value_counts()
sex_counts

M    1149
F     701
Name: 성별, dtype: int64

In [ ]:
round(sex_counts.loc['F'] / sex_counts.sum() * 100 , 1),\
round(sex_counts.loc['M'] / sex_counts.sum() * 100 , 1)

(37.9, 62.1)

### 230대 직업

In [ ]:
df4_23['직업'].notnull().sum(), df4_23['소득'].notnull().sum()

(1006, 1000)

In [ ]:
job_counts = df4_23['직업'].value_counts()
job_counts

사무직 (일반사무직, 공무원, 직업군인)             318
학생 (초중고학생, 대학생, 대학원생)              194
전문직 (의사, 판검사, 예술가, 종교인)             96
무직                                  86
주부 (전업주부, 파트타임 근무 주부)               68
서비스직 (요식업, 숙박업, 미용실종업원)             46
생산/노무직 (생산감독, 경비원, 공장근로자)           42
교직 (교사, 유치원교사, 학원강사)                35
자영업 (도소매업, 숙박업, 미용업)                33
기타                                  26
판매직 (상점점원, 보험설계사, 노점상)              22
관리직 (사장, 간부, 고위공무원)                 17
기능직 (자동차정비, 운전기사, 안경사, 택시기사)        14
농/축/광/수산업 (축산, 낙농업, 수산, 임업, 광업)      6
퇴직/연금생활자                             3
Name: 직업, dtype: int64

In [ ]:
drop_jobs = job_counts[job_counts.index.str.contains('학생|퇴직|주부')]
drop_jobs

학생 (초중고학생, 대학생, 대학원생)    194
주부 (전업주부, 파트타임 근무 주부)     68
퇴직/연금생활자                   3
Name: 직업, dtype: int64

In [ ]:
round((job_counts.sum() - drop_jobs.sum() - job_counts['무직']) / len(df4_23) * 100, 1),\
job_counts.sum() - drop_jobs.sum() - job_counts['무직']

(35.4, 655)

In [ ]:
job2_counts = df4_2['직업'].value_counts()
job3_counts = df4_3['직업'].value_counts()

In [ ]:
drop2_jobs = job2_counts[job2_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs = job3_counts[job3_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs

주부 (전업주부, 파트타임 근무 주부)    64
학생 (초중고학생, 대학생, 대학원생)    14
퇴직/연금생활자                  2
Name: 직업, dtype: int64

In [ ]:
round((job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직']) / len(df4_23) * 100, 1),\
job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직'],\
round((job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']) / len(df4_23) * 100, 1),\
job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']

(9.5, 175, 25.9, 480)

### 230대 자동차

In [ ]:
car_counts = df4_23['자동차'].value_counts()
car_counts

준중형차 (아반떼, K3, 크루즈, 제타급 등)          121
중형차 (쏘나타, K5, 말리부, 골프급 등)            89
준중형SUV (투싼, 스포티지, QM5, 티구안급 등)       46
경차 (모닝, 스파크 등)                       44
중형SUV (싼타페, 쏘렌토, 캡티바, BMW X3급 등)     34
소형차 (액센트, 프라이드, 아베오, 피아트급 등)         32
준대형차 (그랜저, K7, 알페온, 캠리급, 파사트급 등)     31
대형차 (제너시스, BMW5급 등)                  19
소형SUV/CUV (티볼리, QM3 등)               15
MPV (카니발, 올란도, 피카소급, 오딧세이 등)         13
기타 (승합차/트럭/화물차/기타 차량 등)               8
준중형파생 (벨로스터, I30 등)                   6
대형SUV (베라크루즈, 모하비, 투아렉급 등)            5
스포츠 (제네시스 쿠페, BMW M, 벤츠 AMG 등)        4
프리미엄 (에쿠스, BMW7급 등)                   2
중형파생 (I40 등)                          1
Name: 자동차, dtype: int64

In [ ]:
round(car_counts.sum() / len(df4_23) * 100, 1),\
car_counts.sum()

(25.4, 470)

In [ ]:
car2_counts = df4_2['자동차'].value_counts()
car3_counts = df4_3['자동차'].value_counts()

round(car2_counts.sum() / len(df4_23) * 100, 1),\
car2_counts.sum(),\
round(car3_counts.sum() / len(df4_23) * 100, 1),\
car3_counts.sum()

(5.2, 96, 20.2, 374)

In [ ]:
df4_23['시도'].value_counts()[:5],\
df4_2['시도'].value_counts()[:5],\
df4_3['시도'].value_counts()[:5]

(서울    611
 경기    456
 인천    120
 부산    109
 대구     81
 Name: 시도, dtype: int64,
 서울    267
 경기    198
 부산     53
 인천     49
 대구     43
 Name: 시도, dtype: int64,
 서울    344
 경기    258
 인천     71
 부산     56
 대구     38
 Name: 시도, dtype: int64)

In [ ]:
df4_23[df4_23['시도'] == "서울"]['카테고리'].value_counts()[:5],\
df4_2[df4_2['시도'] == "서울"]['카테고리'].value_counts()[:5],\
df4_3[df4_3['시도'] == "서울"]['카테고리'].value_counts()[:5]

(자전거         88
 자전거액세서리     70
 자전거의류/잡화    53
 보호대         35
 헬멧          32
 Name: 카테고리, dtype: int64,
 자전거         33
 자전거액세서리     31
 자전거의류/잡화    27
 보호대         16
 헬멧/보호장비     13
 Name: 카테고리, dtype: int64,
 자전거         55
 자전거액세서리     39
 자전거의류/잡화    26
 헬멧          22
 보호대         19
 Name: 카테고리, dtype: int64)

In [ ]:
df4_45['시도'].value_counts()[:5],\
df4_45[df4_45['시도'] == "서울"]['카테고리'].value_counts()[:5]

(서울    443
 경기    408
 인천     81
 부산     71
 대구     51
 Name: 시도, dtype: int64,
 자전거         55
 자전거액세서리     54
 자전거의류/잡화    33
 헬멧          21
 MTB         20
 Name: 카테고리, dtype: int64)

# df5 : 산림치유원 관심인구 선호 산림치유원 검색 정보 (Total : 737)

In [ ]:
len(df5)

737

In [ ]:
df5.head()

,치유원,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
0,산림치유원,"[복권기금이야기] 기금투어, 국립산림치유원 숲 체험 캠프",F,4,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,예,자녀 있음,아파트/ 주상복합,경기,동두천시,생연1동,"준중형차 (아반떼, K3, 크루즈, 제타급 등)"
1,산림치유원,국립산림치유원 마실치유숲길,F,2,무직,100만원 미만,아니오,,단독주택,경기,파주시,탄현면,NaN
2,산림치유원,영주 국립산림치유원에서 제대로 힐링하세요!,F,5,NaN,NaN,,,NaN,충남,예산군,예산읍,NaN
3,산림치유원,국립산림치유원에서 치유를 경험하다,F,4,NaN,NaN,,,NaN,서울,영등포구,여의도동,NaN
4,산림치유원,이낙연 국무총리 경북 영주시노인복지관 소수서원 국립산림치유원 웰니스 관광,M,4,"사무직 (일반사무직, 공무원, 직업군인)",700~799만원,예,자녀 있음,아파트/ 주상복합,인천,연수구,송도동,"중형차 (쏘나타, K5, 말리부, 골프급 등)"

In [ ]:
age_counts = df5['연령'].value_counts()
age_counts

3    269
4    219
5    149
2    100
Name: 연령, dtype: int64

In [ ]:
age_counts.loc[[2,3]].sum()

369

In [ ]:
round(age_counts.loc[[2,3]].sum() / age_counts.sum() * 100, 1),\
round(age_counts.loc[2] / age_counts.sum() * 100, 1),\
round(age_counts.loc[3] / age_counts.sum() * 100, 1),\
round(age_counts.drop([2,3]).sum() / age_counts.sum() * 100, 1)

(50.1, 13.6, 36.5, 49.9)

In [ ]:
df5_23 = df5[df5['연령'].isin([2, 3])]
df5_2 = df5[(df5['연령'] == 2)]
df5_3 = df5[(df5['연령'] == 3)]
df5_45 = df5[df5['연령'].isin([4, 5])]

In [ ]:
df5_23.head()

,치유원,사이트제목,성별,연령,직업,소득,결혼,자녀,주거,시도,구,동,자동차
1,산림치유원,국립산림치유원 마실치유숲길,F,2,무직,100만원 미만,아니오,,단독주택,경기,파주시,탄현면,NaN
5,산림치유원,영주 국립산림치유원 숲 체험 프로그램 등산 힐링캠프,M,3,기타,200~299만원,아니오,,아파트/ 주상복합,부산,연제구,거제2동,"준중형SUV (투싼, 스포티지, QM5, 티구안급 등)"
6,산림치유원,국립산림치유원 1박2일 팸투어 힐링♥,F,3,"전문직 (의사, 판검사, 예술가, 종교인)",400~499만원,예,자녀 있음,연립주택/ 다세대/ 빌라,경남,진주시,하대동,NaN
7,산림치유원,영주여행 무섬마을 산림치유원여행,F,3,"전문직 (의사, 판검사, 예술가, 종교인)",400~499만원,예,자녀 있음,연립주택/ 다세대/ 빌라,경남,진주시,하대동,NaN
12,산림치유원,국립 산림 치유원 데크로드,M,2,"사무직 (일반사무직, 공무원, 직업군인)",600~699만원,아니오,,아파트/ 주상복합,서울,관악구,은천동,NaN

### 230대 성별

In [ ]:
sex_counts = df5_23['성별'].value_counts()
sex_counts

F    269
M    100
Name: 성별, dtype: int64

In [ ]:
round(sex_counts.loc['F'] / sex_counts.sum() * 100 , 1),\
round(sex_counts.loc['M'] / sex_counts.sum() * 100 , 1)

(72.9, 27.1)

### 230대 직업

In [ ]:
df5_23['직업'].notnull().sum(), df5_23['소득'].notnull().sum()

(238, 238)

In [ ]:
job_counts = df5_23['직업'].value_counts()
job_counts

사무직 (일반사무직, 공무원, 직업군인)          94
주부 (전업주부, 파트타임 근무 주부)           50
학생 (초중고학생, 대학생, 대학원생)           24
전문직 (의사, 판검사, 예술가, 종교인)         23
교직 (교사, 유치원교사, 학원강사)            10
생산/노무직 (생산감독, 경비원, 공장근로자)        8
무직                               7
서비스직 (요식업, 숙박업, 미용실종업원)          6
기타                               4
판매직 (상점점원, 보험설계사, 노점상)           4
기능직 (자동차정비, 운전기사, 안경사, 택시기사)     4
자영업 (도소매업, 숙박업, 미용업)             4
Name: 직업, dtype: int64

In [ ]:
drop_jobs = job_counts[job_counts.index.str.contains('학생|퇴직|주부')]
drop_jobs

주부 (전업주부, 파트타임 근무 주부)    50
학생 (초중고학생, 대학생, 대학원생)    24
Name: 직업, dtype: int64

In [ ]:
round((job_counts.sum() - drop_jobs.sum() - job_counts['무직']) / len(df5_23) * 100, 1),\
job_counts.sum() - drop_jobs.sum() - job_counts['무직']

(42.5, 157)

In [ ]:
job2_counts = df5_2['직업'].value_counts()
job3_counts = df5_3['직업'].value_counts()

In [ ]:
drop2_jobs = job2_counts[job2_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs = job3_counts[job3_counts.index.str.contains('학생|퇴직|주부')]
drop3_jobs

주부 (전업주부, 파트타임 근무 주부)    46
학생 (초중고학생, 대학생, 대학원생)     2
Name: 직업, dtype: int64

In [ ]:
round((job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직']) / len(df5_23) * 100, 1),\
job2_counts.sum() - drop2_jobs.sum() - job2_counts['무직'],\
round((job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']) / len(df5_23) * 100, 1),\
job3_counts.sum() - drop3_jobs.sum() - job3_counts['무직']

(5.7, 21, 36.9, 136)

### 230대 자동차

In [ ]:
car_counts = df5_23['자동차'].value_counts()
car_counts

준중형차 (아반떼, K3, 크루즈, 제타급 등)          33
경차 (모닝, 스파크 등)                      29
중형차 (쏘나타, K5, 말리부, 골프급 등)           26
소형SUV/CUV (티볼리, QM3 등)               9
준중형SUV (투싼, 스포티지, QM5, 티구안급 등)       8
중형SUV (싼타페, 쏘렌토, 캡티바, BMW X3급 등)     7
소형차 (액센트, 프라이드, 아베오, 피아트급 등)         5
대형차 (제너시스, BMW5급 등)                  5
준대형차 (그랜저, K7, 알페온, 캠리급, 파사트급 등)     4
MPV (카니발, 올란도, 피카소급, 오딧세이 등)         1
기타 (승합차/트럭/화물차/기타 차량 등)              1
Name: 자동차, dtype: int64

In [ ]:
round(car_counts.sum() / len(df5_23) * 100, 1),\
car_counts.sum()

(34.7, 128)

In [ ]:
car2_counts = df5_2['자동차'].value_counts()
car3_counts = df5_3['자동차'].value_counts()

round(car2_counts.sum() / len(df5_23) * 100, 1),\
car2_counts.sum(),\
round(car3_counts.sum() / len(df5_23) * 100, 1),\
car3_counts.sum()

(2.7, 10, 32.0, 118)

In [ ]:
df5_23['시도'].value_counts()[:5],\
df5_2['시도'].value_counts()[:5],\
df5_3['시도'].value_counts()[:5]

(서울    137
 경기     90
 부산     22
 인천     20
 대구     19
 Name: 시도, dtype: int64,
 경기    26
 서울    26
 인천     7
 강원     5
 경북     5
 Name: 시도, dtype: int64,
 서울    111
 경기     64
 대구     18
 부산     17
 인천     13
 Name: 시도, dtype: int64)

In [ ]:
df5_23[df5_23['시도'] == "서울"]['치유원'].value_counts()[:5],\
df5_2[df5_2['시도'] == "경기"]['치유원'].value_counts()[:5],\
df5_3[df5_3['시도'] == "서울"]['치유원'].value_counts()[:5]

(산림치유원    102
 치유의숲      16
 숲체원       11
 횡성숲체원      8
 Name: 치유원, dtype: int64,
 산림치유원    26
 Name: 치유원, dtype: int64,
 산림치유원    76
 치유의숲     16
 숲체원      11
 횡성숲체원     8
 Name: 치유원, dtype: int64)

In [ ]:
df5_45['시도'].value_counts()[:5],\
df5_45[df5_45['시도'] == "서울"]['치유원'].value_counts()[:5]

(서울    107
 경기     78
 강원     48
 부산     33
 대구     23
 Name: 시도, dtype: int64,
 산림치유원    105
 치유의숲       2
 Name: 치유원, dtype: int64)